body{
    height: 100vh;
   
}
header{
    padding: 0px 50px;
    position: absolute;
    width: 100%;
}
.menu-button {
    width: 3em;
    margin: 0;
    padding: 0;
    border: 0;
    background: url(../assets/menu-svgrepo-com.svg);
    background-color: none;
    background-size: 3em;
    background-repeat: no-repeat;
    padding-top: 3rem;
    cursor: pointer;
}


main{
    height: 95%;
    background-image: radial-gradient(circle, var(--primary) 25%, var(--main) 25%);
    transition: 0.5s; 
}

.main1{
    background-image: linear-gradient(to bottom right , var(--primary) 50%, var(--main) 50%);
    transition: 0.5s;
}

main section {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "title mainimg paragraph"
        "... mainimg paragraph"
        "... mainimg paragraph";
    display: grid;
    height: 100%;
}

.slide1{
    display: grid;
}

.slide2{
    display: none;
}

.slide3{
    display: none;
}

.slide4{
    display: none;
}

.slide5{
    display: none;
}

.slide6{
    display: none;
}

.slide7{
    display: none;
}

.slide8{
    display: none;
}

.slide1,
.slide2,
.slide3,
.slide4,
.slide5,
.slide6,
.slide7,
.slide8 {
    transition: opacity 0.5s;
}

h2{
    grid-area: title;
    margin: auto;
    text-align: center;
    color: var(--tertiary);
}

p{
    grid-area: paragraph;
}

.img-main{
    margin: auto;
    grid-area: mainimg;
 }

 

.img-main img{
   width: 25em;
   max-width: 100%;

}


.slide-buttons{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%; 
    padding: 0 10px;
}

 .slide-buttons > *::before {
    width: 2em;
    height: 2em;
    background-color: #484f5e;
    color: silver;
    text-align: center;
    line-height: 2.5em;
    border-radius: 50%;
    cursor: pointer;

    transition: 0.2s;
} 

.slide-buttons > *:active {
    transform: scale(0.9);
    filter: brightness(0.8);
}

.slide-buttons .right{
    background: none;
    border: none;
}

.slide-buttons .left{
    background: none;
    border: none;
    visibility: hidden;
}

.slide-buttons .left::before,
.slide-buttons .right::before {
    font-size: 1.5em; 
    padding: 1em;
}

.slide-buttons .left::before {
    content: '←';
    right: 0;
}

.slide-buttons .right::before {
    content: '→';
}




footer{
    background-color: var(--tertiary);
    width: 100vw;
    height: 5%;
}

