body{
    height: 100vh;
   
}

header{
    position: absolute;
    width: 100%;  
}

.header-wrapper {
    display: flex;
    padding: 25px 50px;
}

.menu-button{
    width: 3em;
    margin: 0;
    padding: 0 10em 0 0;
    border: 0;
    background: url(../assets/menu-svgrepo-com.svg);
    background-color: none;
    background-size: 3em;
    background-repeat: no-repeat;
    padding-top: 3rem;
    cursor: pointer;
    position: relative;
}

.menu-selection{
    opacity: 0;
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: var(--main);
    padding: 3em 2em;
    text-align: center;
    border-radius: 20px;
}

.menu-selection a{
    text-decoration: none;
    padding: 10px 0px;
    border-bottom: 2px solid;
    color: var(--tertiary);
    text-transform: uppercase;
    font-size: 1.5em;
}

a{
    font-family: var( --font--text);
}

.primary--button{
    position: relative;
    font-family: var( --font--text);
}

.menu-background{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #000000c9;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

main{
    height: 95%;
    background-image: radial-gradient(circle, var(--primary) 25%, var(--main--transparent) 25%);
    position: relative; 
    pointer-events: none;
}

.secondary-main-achtergrond{
    background-image: radial-gradient(circle, var(--secondary) 25%, var(--main--transparent) 25%);
}

.tertiary-main-achtergrond{
    background-image: radial-gradient(circle, var(--tertiary) 25%, var(--main--transparent) 25%);
}

.main1{
    background-image: linear-gradient(to bottom right , var(--primary) 50%, var(--main--transparent) 50%);
}

.main2{
    background-image: linear-gradient(to bottom right , var(--secondary) 50%, var(--main--transparent) 50%);
}

.main3{
    background-image: linear-gradient(to bottom right , var(--tertiary) 50%, var(--main--transparent) 50%);
}

main section {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "title mainimg ..."
        "... mainimg ..."
        "... mainimg paragraph";
    display: grid;
    height: 100%;
}

/* .slide1{
    display: grid;
}

.slide2{
    display: grid;
}

.slide3{
    display: grid;
}

.slide4{
    display: grid;
}

.slide5{
    display: grid;
}

.slide6{
    display: grid;
}

.slide7{
    display: grid;
}

.slide8{
    display: grid;
} */

.slide1,
.slide2,
.slide3,
.slide4,
.slide5,
.slide6,
.slide7,
.slide8 {
    transition: opacity 0.5s;
    position: absolute;
    width: 100%;
    display: grid;
    justify-items: center;
}

h2{
    grid-area: title;
    margin: auto;
    text-align: center;
    color: var(--tertiary);
    opacity: 0; 
    transform: translateX(-20px); 
    transition: opacity 0.5s, transform 0.5s; 
    transition: 0.2s;
    font-family: var(--font--headers);
}

main p{
    grid-area: paragraph;
    margin: auto;
    opacity: 1;  
    transition: opacity 0.5s, transform 0.5s;
    font-family: var( --font--text);
    position: fixed;
    width: max-content;
}


.img-main{
    margin: auto;
    grid-area: mainimg;
 }

.img-main img{
   width: 25em;
   max-width: 100%;
}

.contact-container{
    grid-area: mainimg;
    margin: auto;
}

.contact-container form{
    display: flex; 
    flex-direction: column; 
    background-color: var(--main);
    padding: 3em 2em;
    text-align: center;
    border-radius: 20px;
    pointer-events: all;
    font-family: var(--font--text);

}

#name, #email, #telephonenumber{
    border: none;
    border-bottom: solid 1px var(--tertiary);
    color: var(--tertiary);
}

button[type="submit"]{
    border: solid 1px var(--dark);
    background-color:  var(--tertiary);
    color: var(--main);
    padding: 1.2em;
    border-radius: 50px;
    text-transform: uppercase;
    margin: 1.2em 0 0 0;
    transition: 0.2s;
    
}

button[type="submit"]:hover{
    border: solid 1px var(--dark);
    background-color:  var(--greyone);
    color: var(--tertiary);
    padding: 1.2em;
    border-radius: 50px;
    text-transform: uppercase;
    margin: 1.2em 0 0 0;
}

.slide-buttons{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 45%; 
    padding: 0 10px;
    padding: 0 40px;
}

 .slide-buttons > *::before {
    width: 2em;
    height: 2em;
    background-color: #484f5e;
    color: silver;
    text-align: center;
    line-height: 2.5em;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
} 

.slide-buttons > *:active {
    transform: scale(0.9);
    filter: brightness(0.8);
}

.slide-buttons .right{
    background: none;
    border: none;
}

.slide-buttons .left{
    background: none;
    border: none;
    visibility: hidden;
}

.slide-buttons .left::before,
.slide-buttons .right::before {
    font-size: 1.5em; 
    padding: 1em;
}

.slide-buttons .left::before {
    content: '←';
}

.slide-buttons .right::before {
    content: '→';
}

/* .slide-buttons .left::after {
    content: 'terug';
}

.slide-buttons .right::after {
    content: 'verder';
} */

footer{
    background-color: var(--tertiary);
    width: 100vw;
    height: 5%;
    color: var(--main);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    position: relative;
    font-family: var(--font--headers);
}

/* mobile */
@media  screen and (min-width: 0em) and (max-width: 37.5em ) {

    main section {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "... mainimg ..."
        "... mainimg ..."
        "... mainimg ...";
        display: grid;
        height: 100%;
    }

    h2{
        position: absolute;
        top: 15%;
    }
        
    main p { 
    opacity: 1;
    font-family: var(--font--text);
    top: 65%;
    font-size: 0.8rem;
    }

    .header-wrapper{
        justify-content: space-evenly;
    }

    .slide-buttons{
        padding: 10px;
    }

}

/* iphone se mobiles wit a small height */
@media  screen and (max-height: 46.25em ) {
    main p { 
        font-size: 0.7em;
        }
}

@media  screen and (min-width: 37.5em) and (max-width: 64em ) {
    main section {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "... mainimg ..."
        "... mainimg ..."
        "... mainimg ...";
        display: grid;
        height: 100%;
    }

    h2{
        position: absolute;
        top: 15%;
    }

    main p { 
        opacity: 1;
        font-family: var(--font--text);
        top: 65%;
        font-size: 0.8rem;
        }
    
    .header-wrapper{
        justify-content: space-evenly;
    }

    .img-main img {
        width: 15em;
        max-width: 100%;
    }
}